pandas
ipykernel
numpy
jupyter_client
jupyter_core
scipy
matplotlib
ipywidgets
tqdm
together
datasets
hydra-core
black
pylint
darker
ortools
gspread
oauth2client
tabulate
inflect
pytest
pytest-asyncio
fastapi[standard]
sqlmodel
pydantic_settings
markdown
seaborn
nbqa
modelendpoints@git+https://github.com/jlcmoore/modelendpoints
statsmodels
nbdime
nbstripout